<footer class="footer bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-100 py-8">
    <div class="max-w-4xl mx-auto flex flex-col items-center justify-center">
        <p class="text-sm mb-4">© 2024 Prestige Properties. Todos los derechos reservados.</p>
        <div class="flex space-x-4">
            <a class="text-indigo-600 hover:text-indigo-500" href="https://www.instagram.com/">Instagram</a>
            <a class="text-indigo-600 hover:text-indigo-500" href="https://www.facebook.com/">Facebook</a>
            <a class="text-indigo-600 hover:text-indigo-500" href="https://twitter.com/">Twitter</a>
        </div>
    </div>
</footer>