{% extends "layout.html" %}

{% block contenido %}

<!--LAYAUT-->
<!--LAYAUT-->

    <div class=" w-full">
        <div class="flex flex-col lg:flex-row sm:justify-between items-center bg-slate-90 dark:bg-slate-900 shadow-lg">
            <div class="text-center sm:text-left lg:w-1/2 p-8">
                <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">Nuestros planes</h1>
                <p class="mt-4 text-xl text-black">Descubre nuestras planes especiales en viviendas de lujo</p>
            </div>
    
            <div class="lg:w-1/2">
                <img src="{{ url_for('static', filename='img/casa_3.jpg') }}" alt="Imagen de promoción" width="500" class="w-full lg:mx-0 shadow-lg">
            </div>
        </div>
        <!-- 2 -->
        <div class="flex flex-col  bg-white shadow-lg mt-6">
            <div class="bg-white py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                  <div class="mx-auto max-w-2xl sm:text-center">
                    <h2 class="text-6xl font-bold tracking-tight text-gray-900 sm:text-6xl">Elige la tuya ahora!</h2>
                    <p class="mt-6 text-lg leading-8 text-gray-600">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</p>
                  </div>
            <!---comienzo de los planes-->
            <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
                <div class="p-8 sm:p-10 lg:flex-auto">
                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">Membresía de 5 meses</h3>
                    <p class="mt-6 text-base leading-7 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque amet indis perferendis blanditiis repellendus etur quidem assumenda.</p>
                    <div class="mt-10 flex items-center gap-x-4">
                        <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">Lo que está incluido</h4>
                        <div class="h-px flex-auto bg-gray-100"></div>
                    </div>
                    <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
                        <li class="flex gap-x-3">
                            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            Diseño de Interiores
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            Mantenimiento de Propiedades
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            Mobiliario a Medida
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            Renovación de Espacios
                        </li>
                    </ul>
                </div>
                <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
                    <div class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
                        <div class="mx-auto max-w-xs px-8">
                            <p class="text-base font-semibold text-gray-600">Paga una vez, y te regalamos 2 meses gratis</p>
                            <p class="mt-6 flex items-baseline justify-center gap-x-2">
                                <span class="text-5xl font-bold tracking-tight text-gray-900">$349</span>
                                <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">USD</span>
                            </p>
                            <a href="#" class="mt-10 block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Obtener acceso</a>
                            <p class="mt-6 text-xs leading-5 text-gray-600">Facturas y recibos disponibles para fácil reembolso de la empresa</p>
                        </div>
                    </div>
                </div>
            </div>
            
                  
                </div>
              </div>
                

        </div>
       
        {% include "footer/footer.html" %}
    </div>
    




{% endblock %}